$wood_blue: #0F61FD;
$wood_dark_blue: #002D9B;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import '../node_modules/bootstrap/scss/bootstrap.scss';

button{
    margin: 0;
}

.btn{
    border-radius: 0;
    background-color: $gray-200;
}

.btn-primary{
    background-color: $wood_blue;
} 

.btn-primary:disabled{
    border: 0;
    background-color: $gray-500;
    color: $gray-700;
    cursor: not-allowed;
    pointer-events: all !important;
}
.btn-primary:focus{
    box-shadow: 0 0 0 2px $wood_blue;
    border: 1px solid #fff;
}
.btn-primary:active{
    box-shadow: none !important;
    border: 0;
    background-color: $wood_dark_blue;
}

.btn-primary:disabled {
    // border: 0;
    // background-color: #C6C6C6;
    // cursor: not-allowed;
    // color:#8D8D8D;
}
.btn-secondary{
    background-color: $black;
}
.btn-teriary{
    
}
.link-primary{

}
.link-secondary{

}
.primary-ghost{

}
.secondary-ghost{

}
.danger{

}
.danger-ghost{

}

.dropdown-toggle{
    border-bottom: 2px solid #000;
}
.dropdown-toggle:hover{
    background-color: darken($color: $gray-200, $amount: 5%);
}
.dropdown-toggle:active{
    border-color: $wood_blue;
    box-shadow: 0 0 0 2px $wood_blue;
}

.dropdown-toggle:focus{
  
}
.btn-check:focus{
    box-shadow: 0;
}
.btn-check{
    box-shadow: 0;
}

.dropdown-menu{
    background-color: $gray-200;
    border-radius: 0;
}

.dropdown-white{
    @extend .dropdown;
}
.dropdown-toggle-white{
    @extend .dropdown-toggle;
}

.dropdown-menu-white{
    @extend .dropdown-menu;
}
.dropdown-item-white{
    @extend .dropdown-item;
}

.dropdown-item:hover{
    background-color: darken($color: $gray-200, $amount: 5%);
}